
@using KCS.DTOs
@model IEnumerable<UserDTO>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">User List</h3>
                    @if (ViewBag.CurrentPageRights.IsInsert != null && ViewBag.CurrentPageRights.IsInsert == true)
                    {
                        <div class="box-tools pull-right">
                            <a href="@Url.Action("Add", "User")" class="btn bg-blue btn-xs" id="InsertUserButton" name="InsertUserButton"><i class="fa fa-plus"></i> &nbsp;  <span class="hide-on-mobile">Add</span> &nbsp; </a>
                         </div>
                    }
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 btn-margin-bottom action-buttons">
                            <div class="btn-group" id="divAddNew">
                                                      
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 btn-margin-bottom action-buttons">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">

                            <table id="userListDataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Role</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Profile Picture</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (UserDTO userDTO in Model.Where(x => x.RoleId != 1 || ViewBag.UserInformation.RoleId == 1))
                                    {
                                        if (userDTO.IsDefault == false || ViewBag.UserInformation.IsDefault == true)
                                        {
                                            <tr>
                                                <td>@userDTO.Username</td>
                                                <td>@userDTO.Name</td>
                                                <td>@userDTO.Phone</td>
                                                <td>@userDTO.RoleName</td>
                                                <td>@(userDTO.StartDate != null ? ((DateTime)userDTO.StartDate).ToShortDateString() : "")</td>
                                        
                                                <td>@(userDTO.EndDate != null ? ((DateTime)userDTO.EndDate).ToShortDateString() : "")</td>
                                                <td>
                                                    @if (userDTO.ActiveStatus == true)
                                                    {
                                                        <i class="fa fa-check"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-ban"></i>
                                                    }
                                                </td>
                                                <td>
                                                    @if (userDTO.ProfilePicture != null)
                                                    {
                                                        var base64 = Convert.ToBase64String(userDTO.ProfilePicture);
                                                        var UserProfileImage = string.Format("data:image/jpg;base64,{0}", base64);

                                                        <img src="@UserProfileImage" class="image-user-profile-table img-responsive" alt="Image Not Found" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/Image/default-image.png" class="image-user-profile-table img-responsive" alt="Image Not Found" />
                                                    }
                                                </td>
                                                <td>
                                                    @if (ViewBag.UserInformation != null)
                                                    {
                                                        if (userDTO.RoleId != 1 || ViewBag.UserInformation.IsDefault == true || (ViewBag.UserInformation.UserId== userDTO.UserId))
                                                        {
                                                            if (ViewBag.CurrentPageRights.IsUpdate != null && ViewBag.CurrentPageRights.IsUpdate == true)
                                                            {
                                                                <i class="fa fa-edit"></i> @Html.ActionLink("Edit", "Edit", new { id = userDTO.UserId })
                                                            }

                                                            if (userDTO.IsDefault == false && userDTO.UserId!=ViewBag.UserInformation.UserId)
                                                            {
                                                                if (ViewBag.CurrentPageRights.IsDelete != null && ViewBag.CurrentPageRights.IsDelete == true)
                                                                {
                                                                    <i class="fa fa-trash"></i> <a href="javascript:void(0)" name="@userDTO.UserId" class="delete_record">Delete</a>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Username</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Role</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Profile Picture</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>

<script type="text/javascript">

    $(document).ready(function () {

        $('#userListDataTable').dataTable({
            'paging': true,
            'bLengthChange': false,
            'bFilter': true,
            'ordering': true,
            'bInfo': true,
            'autoWidth': false
        });

        $('.delete_record').on('click', function () {
            delete_record($(this).attr('name'));
        })
        function delete_record(Id) {

            var confirmMessage = "Are you sure u want to remove this record ?";
            jConfirm(confirmMessage, 'Confirm', function (r) {
                if (r == true) {
                    $.post("User/Delete", { 
                        Id: Id 
                    },
                    function (response) {

                        $("#message").html('');

                        if (response.result == 'success') {
                                
                            $("#message").html("<div class='alert alert-success alert-dismissible fade in'><button class='close' type='button' data-dismiss='alert' aria-hidden='true'>×</button><h4><i class='icon fa fa-check'></i> Success </h4>" + response.success + "</div>");

                            get_user_list();
                        } else {
                            $("#message").html("<div class='alert alert-danger alert-dismissible fade in'><button class='close' type='button' data-dismiss='alert' aria-hidden='true'>×</button><h4><i class='icon fa fa-check'></i> Success </h4>" + response.success + "</div>");
                        }
                            
                            
                    });
                }
                
            });
            
        }
    });
</script>

